# Ignore CLion settings
.idea/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt.user

# Ignore compiled binaries
*.o
*.obj
*.exe
*.out
*.log
*.a
*.lib
*.dll
*.so

# Ignore CMake cache files
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
